.countries {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    background-color: bisque;

    .countrieName {
        width: 30%;
    }
    

    .countryFlag {
        width: 100%;
        position: relative;
        padding: 0 0 60% 0;
        
            img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            }
        }
}

